<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.system.mapper.SysPatriarchMapper">

<!--    <resultMap type="SysUser" id="SysPatriarchResult">-->
<!--        <result property="userId" column="user_id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="userType" column="user_type"/>-->
<!--        <result property="phone" column="phone"/>-->
<!--        <result property="avatar" column="avatar"/>-->
<!--        <result property="password" column="password"/>-->
<!--        <result property="status" column="status"/>-->
<!--        <result property="delFlag" column="del_flag"/>-->
<!--        <result property="loginIp" column="login_ip"/>-->
<!--        <result property="loginDate" column="login_date"/>-->
<!--        <result property="createBy" column="create_by"/>-->
<!--        <result property="createTime" column="create_time"/>-->
<!--        <result property="updateBy" column="update_by"/>-->
<!--        <result property="updateTime" column="update_time"/>-->
<!--        <result property="remark" column="remark"/>-->
<!--    </resultMap>-->

<!--    <sql id="selectSysPatriarchVo">-->
<!--        select patriarch_id,-->
<!--               name,-->
<!--               user_type,-->
<!--               phone,-->
<!--               avatar,-->
<!--               password,-->
<!--               status,-->
<!--               del_flag,-->
<!--               login_ip,-->
<!--               login_date,-->
<!--               create_by,-->
<!--               create_time,-->
<!--               update_by,-->
<!--               update_time,-->
<!--               remark-->
<!--        from sys_patriarch-->
<!--    </sql>-->

<!--    <select id="selectSysPatriarchList" parameterType="SysPatriarch" resultMap="SysPatriarchResult">-->
<!--        select su.user_id, name, user_type, phone, avatar, password, status, del_flag, login_ip, login_date,-->
<!--        create_by, create_time, update_by, update_time, remark from sys_user su-->
<!--        left join sys_student_patriarch ssp on ssp.patriarch_id = su.user_id-->
<!--        <where>-->
<!--            su.del_flag = '0'-->
<!--            <if test="name != null  and name != ''">and sp.name like concat('%', #{name}, '%')</if>-->
<!--            <if test="studentId != null  and studentId != ''">and ssp.student_id = #{studentId}</if>-->
<!--            <if test="userType != null  and userType != ''">and sp.user_type = #{userType}</if>-->
<!--            <if test="phone != null  and phone != ''">and sp.phone = #{phone}</if>-->
<!--            <if test="status != null  and status != ''">and sp.status = #{status}</if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="selectSysPatriarchByPatriarchId" parameterType="Long" resultMap="SysPatriarchResult"-->
<!--            resultType="com.z.system.domain.SysPatriarch">-->
<!--        select patriarch_id,-->
<!--               name,-->
<!--               user_type,-->
<!--               phone,-->
<!--               avatar,-->
<!--               password,-->
<!--               status,-->
<!--               del_flag,-->
<!--               login_ip,-->
<!--               login_date,-->
<!--               create_by,-->
<!--               create_time,-->
<!--               update_by,-->
<!--               update_time,-->
<!--               remark-->
<!--        from sys_patriarch-->
<!--        where patriarch_id = #{patriarchId}-->

<!--    </select>-->

<!--    <insert id="insertSysPatriarch" parameterType="SysPatriarch" useGeneratedKeys="true" keyProperty="patriarchId">-->
<!--        insert into sys_patriarch-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">name,</if>-->
<!--            <if test="userType != null">user_type,</if>-->
<!--            <if test="phone != null">phone,</if>-->
<!--            <if test="avatar != null">avatar,</if>-->
<!--            <if test="password != null">password,</if>-->
<!--            <if test="status != null">status,</if>-->
<!--            <if test="delFlag != null">del_flag,</if>-->
<!--            <if test="loginIp != null">login_ip,</if>-->
<!--            <if test="loginDate != null">login_date,</if>-->
<!--            <if test="createBy != null">create_by,</if>-->
<!--            <if test="createTime != null">create_time,</if>-->
<!--            <if test="updateBy != null">update_by,</if>-->
<!--            <if test="updateTime != null">update_time,</if>-->
<!--            <if test="remark != null">remark,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">#{name},</if>-->
<!--            <if test="userType != null">#{userType},</if>-->
<!--            <if test="phone != null">#{phone},</if>-->
<!--            <if test="avatar != null">#{avatar},</if>-->
<!--            <if test="password != null">#{password},</if>-->
<!--            <if test="status != null">#{status},</if>-->
<!--            <if test="delFlag != null">#{delFlag},</if>-->
<!--            <if test="loginIp != null">#{loginIp},</if>-->
<!--            <if test="loginDate != null">#{loginDate},</if>-->
<!--            <if test="createBy != null">#{createBy},</if>-->
<!--            <if test="createTime != null">#{createTime},</if>-->
<!--            <if test="updateBy != null">#{updateBy},</if>-->
<!--            <if test="updateTime != null">#{updateTime},</if>-->
<!--            <if test="remark != null">#{remark},</if>-->
<!--        </trim>-->
<!--    </insert>-->

<!--    <update id="updateSysPatriarch" parameterType="SysPatriarch">-->
<!--        update sys_patriarch-->
<!--        <trim prefix="SET" suffixOverrides=",">-->
<!--            <if test="name != null and name != ''">name = #{name},</if>-->
<!--            <if test="userType != null">user_type = #{userType},</if>-->
<!--            <if test="phone != null">phone = #{phone},</if>-->
<!--            <if test="avatar != null">avatar = #{avatar},</if>-->
<!--            <if test="password != null">password = #{password},</if>-->
<!--            <if test="status != null">status = #{status},</if>-->
<!--            <if test="delFlag != null">del_flag = #{delFlag},</if>-->
<!--            <if test="loginIp != null">login_ip = #{loginIp},</if>-->
<!--            <if test="loginDate != null">login_date = #{loginDate},</if>-->
<!--            <if test="createBy != null">create_by = #{createBy},</if>-->
<!--            <if test="createTime != null">create_time = #{createTime},</if>-->
<!--            <if test="updateBy != null">update_by = #{updateBy},</if>-->
<!--            <if test="updateTime != null">update_time = #{updateTime},</if>-->
<!--            <if test="remark != null">remark = #{remark},</if>-->
<!--        </trim>-->
<!--        where patriarch_id = #{patriarchId}-->
<!--    </update>-->

<!--    <delete id="deleteSysPatriarchByPatriarchId" parameterType="Long">-->
<!--        update sys_patriarch-->
<!--        set del_flag = '1'-->
<!--        where patriarch_id = #{patriarchId}-->
<!--    </delete>-->

<!--    <update id="deleteSysPatriarchByPatriarchIds" parameterType="String">-->
<!--        update sys_patriarch set del_flag = '1' where patriarch_id in-->
<!--        <foreach item="patriarchId" collection="array" open="(" separator="," close=")">-->
<!--            #{patriarchId}-->
<!--        </foreach>-->
<!--    </update>-->

<!--    <insert id="insertStudentPatriarch" parameterType="SysPatriarch">-->
<!--        insert into sys_student_patriarch (student_id, patriarch_id)-->
<!--        values (#{studentId}, #{patriarchId})-->
<!--    </insert>-->

<!--    <select id="selectPatriarchByPhone" parameterType="String" resultMap="SysPatriarchResult">-->
<!--        select patriarch_id,-->
<!--               name,-->
<!--               user_type,-->
<!--               phone,-->
<!--               avatar,-->
<!--               password,-->
<!--               status,-->
<!--               del_flag,-->
<!--               login_ip,-->
<!--               login_date,-->
<!--               create_by,-->
<!--               create_time,-->
<!--               update_by,-->
<!--               update_time,-->
<!--               remark-->
<!--        from sys_patriarch-->
<!--        where phone = #{phone}-->
<!--          and del_flag = '0'-->
<!--          and status = '0'-->
<!--    </select>-->
</mapper>