<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.system.mapper.SysUserDocumentMapper">

    <resultMap type="SysUserDocument" id="SysUserDocumentResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="url" column="url"/>
        <result property="pdfUrl" column="pdf_url"/>
        <result property="userId" column="user_id"/>
        <result property="fileName" column="file_name"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <association property="user" javaType="SysUser" resultMap="userResult"/>
        <association property="course" javaType="SysCourse" resultMap="courseResult"/>
    </resultMap>
    <resultMap type="SysCourse" id="courseResult">
        <result property="courseId" column="course_id"/>
        <result property="courseCode" column="course_code"/>
        <result property="courseName" column="course_name"/>
    </resultMap>
    <resultMap type="SysUser" id="userResult">
        <result property="deptId" column="dept_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
        <association property="dept" javaType="SysDept" resultMap="deptResult"/>
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>

    <sql id="selectSysUserDocumentVo">
        select id, create_time, url, user_id, file_name,pdf_url,remark
        from sys_user_document
    </sql>

    <select id="selectSysUserDocumentList" parameterType="SysUserDocument" resultMap="SysUserDocumentResult">
        select d.id, d.create_time, d.url,d.pdf_url,d.file_name,u.user_id,
        u.nick_name,u.dept_id,dep.dept_name,d.remark,d.status,c.course_name
        from sys_user_document d
        left join sys_user u on u.user_id = d.user_id
        left join sys_dept dep on d.grade_id = dep.dept_id
        left join sys_course c on c.course_id = d.course_id
        <where>
            d.del_flag = '0'
            <if test="fileName != null  and fileName != ''">and d.file_name like concat('%', #{fileName}, '%')</if>
            <if test="status != null  and status != ''">and d.status = #{status}</if>
            <if test="resourcesId != null  and resourcesId != ''">and d.resources_id = #{resourcesId}</if>
            <if test="nickName != null  and nickName != ''">and u.nick_name like concat('%', #{nickName}, '%')</if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectSysUserDocumentById" parameterType="Long" resultMap="SysUserDocumentResult">
        <include refid="selectSysUserDocumentVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysUserDocument" parameterType="SysUserDocument" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="url != null">url,</if>
            <if test="pdfUrl != null">pdf_url,</if>
            <if test="userId != null">user_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="remark != null">remark,</if>
            <if test="gradeId != null">grade_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="resourcesId != null">resources_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="url != null">#{url},</if>
            <if test="pdfUrl != null">#{pdfUrl},</if>
            <if test="userId != null">#{userId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="gradeId != null">#{gradeId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="resourcesId != null">#{resourcesId},</if>
        </trim>
    </insert>

    <update id="updateSysUserDocument" parameterType="SysUserDocument">
        update sys_user_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null">url = #{url},</if>
            <if test="pdfUrl != null">pdf_url = #{pdfUrl},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="gradeId != null">grade_id = #{gradeId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUserDocumentById" parameterType="Long">
        delete
        from sys_user_document
        where id = #{id}
    </delete>

    <delete id="deleteSysUserDocumentByIds" parameterType="String">
        delete from sys_user_document where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="recordsDownload" parameterType="SysUserDocument">
        insert into sys_document_down (user_id, document_id,receive_user_id,create_time)
        values (#{userId}, #{documentId},#{receiveUserId},sysdate())
    </insert>

    <select id="selectMyDocumentList" parameterType="SysUserDocument" resultMap="SysUserDocumentResult">
        select d.id, d.create_time, d.url,d.pdf_url,d.file_name,u.user_id,
        u.nick_name,u.dept_id,dep.dept_name,d.remark,d.status,c.course_name
        from sys_user_document d
        left join sys_user u on u.user_id = d.user_id
        left join sys_dept dep on d.grade_id = dep.dept_id
        left join sys_course c on c.course_id = d.course_id
        <where>
            d.del_flag = '0' and d.user_id = #{userId}
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
        order by d.create_time desc
    </select>


    <select id="downloadNotification" parameterType="SysUserDocument" resultMap="SysUserDocumentResult">
        select dd.download_id as id, dd.create_time, d.url,d.pdf_url,d.file_name,u.user_id,
        u.nick_name,u.dept_id,dep.dept_name,d.remark,d.status,c.course_name
        from sys_document_down  dd
        left join sys_user_document d on dd.document_id = d.id
        left join sys_user u on u.user_id = dd.user_id
        left join sys_dept dep on d.grade_id = dep.dept_id
        left join sys_course c on c.course_id = d.course_id
        <where>
             and receive_user_id = #{userId}
            <if test="status != null  and status != ''">and dd.status = #{status}</if>
        </where>
        order by dd.create_time desc
    </select>

    <update id="read" parameterType="Long">
        update sys_document_down set status = 1
        where download_id = #{id}
    </update>
</mapper>